
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFE0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #001F3F;
    margin: 0;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    color: #001F3F;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 0.5em;
    color: #001F3F;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 67px;
}

.carousel {
    position: relative;
    width: 100%;
    padding-top: 43.25%;
    background-color: lightgray;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.personnelle{
    display: flex;
    background-color: #FFDB58;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 5px;
    width: 100%;
}

.person-profile {
    text-align: center;
    margin: 20px;
}
.mt-1{
    background-color: #FFFFE0;
    width: 100%;
}

.round-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid #000;
}

/* FOOTER */
.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 20px;
    background-color: #001F3F;
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    align-items: center;
}

.navigation i {
    color: #FFF;
    font-size: 24px;
    transition: color 0.3s ease;
}

.navigation i:hover {
    color: #FFDB58;
    transform: scale(1.1);
}

.notification-badge {
    position: relative;
    top: -35px;
    right: -18px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.home,
.fav,
.team,
.cout {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    text-decoration: none;
    color: #FFFFE0;
    text-align: center;
}

footer {
    display: flex;
    margin-left: 50px;
}

footer div {
    width: 49%;
}

.equipe {
    width: 100%;
    text-decoration: none;
    color: #001F3F;
    margin-left: 40px;
    text-decoration: underline;
    text-decoration-color: #FFDB58;
}

.equipe:hover {
    text-decoration: underline;
}

.copyright {
    width: 100%;
    text-align: right;
}

.card-vedette {
    background-color: #FFFFE0;
    border-radius: 9px;
    padding: 2em;
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 1em;
}

.person-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.round-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.info-produit {
    text-align: center;
}

.info-produit h2 {
    font-size: 1.5em;
}

.info-produit h3 {
    font-size: 1em;
    font-weight: 400;
}

.info-produit p {
    text-align: center;
    font-size: 0.9em;
    line-height: 1.5;
    margin-top: 1em;
    max-width: 250px;
}

.personnelle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    margin-bottom: 3em;
}

@media only screen and (max-width: 480px) {
    body {
        min-height: 247em;
    }

    .carousel {
        position: relative;
        width: 100%;
        padding-top: 99.25%;
        background-color: lightgray;
        margin-bottom: 20px;
    }

    .carousel video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container {
        margin-left: 0;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 20px;
        background-color: #001F3F;
        position: fixed;
        bottom: 0;
        height: auto;
        flex-direction: row;
    }

    .produit-star {
        display: block;
    }
}


@media only screen and (max-width: 900px) {
    body {
        min-height: 188em;
    }

    .carousel {
        position: relative;
        width: 100%;
        padding-top: 99.25%;
        background-color: lightgray;
        margin-bottom: 20px;
    }

    .carousel video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container {
        margin-left: 0;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 20px;
        background-color: #001F3F;
        position: fixed;
        bottom: 0;
        height: auto;
        flex-direction: row;
    }

    #viderPanier {
        margin-bottom: 3em;
    }

    footer {
        margin-left: 5px;
        display: flex;
        width: 100%;
        gap: 14em
    }

    .equipe {
        text-align: left;
        margin-left: 5px;
    }
}


