@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    color: #001F3F;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 0.5em;
    color: #001F3F;
}

h3 {
    font-size: 40px;
    color: #001F3F;
}

.header {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    background-color: lightgray;
}

.header video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    background-color: #FFFFE0;
    color: #001F3F;
}

.contenu {
    display: flex;
    background-color: #FFDB58;
    gap: 2em;
    width: 100%;
  padding-top: 15px;
  padding-left: 100px;
}

p,
span {
    font-size: 30px;
}

div img {
    height: 200px;
    margin: 25px 0 0 20px;
    float: left;
}

.info-produit p:first-of-type {
    margin-bottom: 15px;
}

.info-produit {
    background-color: #FFFFE0;
    border-radius: 9px;
    margin-bottom: 20px;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 30px;
    /* text-align: center; */
}

.plus {
    margin-right: 70px;
}

.moins,
.plus,
#poubelle {
    border: none;
    background-color: transparent;
    color: #001F3F;
}

i {
    font-size: 20px;
}

.total-commande {
    color: #F61A1A;
}

button:hover {
    cursor: pointer;
    opacity: 80%;
}

.section-droite {
    background-color: #FFFFE0;
    border-radius: 9px;
    width: 700px;
    height: 190px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#viderPanier {
    margin-top: 1em;
    margin-right: 20px;
    font-size: 22px;
    border-radius: 25px;
    background-color: #fff;
    color: #001F3F;
    border: 2px solid #F61A1A;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

#viderPanier:hover {
    background-color: #F61A1A;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#paiement {
    margin-top: 1em;
    font-size: 22px;
    border-radius: 25px;
    background-color: #fff;
    color: #001F3F;
    border: 2px solid #1763B5;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

#paiement:hover {
    background-color: #1763B5;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 20px;
    background-color: #001F3F;
    position: fixed;
    left: 0;
}

.navigation i {
    color: #FFF;
    font-size: 24px;
    transition: color 0.3s ease;
}

.navigation i:hover {
    color: #FFDB58;
    transform: scale(1.1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 67px;
}

.fiche-produit {
    background-color: #FFFFE0;
    border-radius: 9px;
    margin-bottom: 20px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

footer {
    display: flex;
    margin-left: 50px;
}

footer div {
    width: 49%;
}

.equipe {
    font-size: 20px;
    width: 100%;
    text-decoration: none;
    color: #001F3F;
    margin-left: 40px;
    text-decoration: underline;
    text-decoration-color: #FFDB58;
}

.equipe:hover {
    text-decoration: underline;
}

.copyright {
    font-size: 20px;
    width: 100%;
    text-align: right;
}

@media only screen and (max-width: 480px) {
    .contenu {
        display: block;
    }

    .fiche-produit {
        background-color: #FFFFE0;
        border-radius: 9px;
        padding: 1.5em;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .section-droite {
        display: flex;
        flex-direction: column;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 20px;
        background-color: #001F3F;
        position: fixed;
        bottom: 0;
        height: auto;
        flex-direction: row;
    }
}