@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #FFFFE0;
    line-height: 2.0;
    margin-bottom: 1em;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    color: #001F3F;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 0.5em;
    color: #001F3F;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 67px;
}

.carousel {
    position: relative;
    width: 100%;
    padding-top: 43.25%;
    background-color: lightgray;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.carousel video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .favori {
    position: absolute;
    top: 10px;
    right: 10px;
}

.field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes down {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(15px);
    }

    40% {
        transform: translate(0);
    }
}

@-webkit-keyframes down {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(15px);
    }

    40% {
        transform: translate(0);
    }
}

.scroll {
    width: 60px;
    height: 60px;
    background-color: #001F3F;
    border-radius: 50%;
    border: 2px solid #001F3F;
    position: relative;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;

    &::before {
        content: '';
        position: absolute;
        top: 15px;
        left: 18px;
        width: 18px;
        height: 18px;
        border-left: 2px solid #FFFFE0;
        border-bottom: 2px solid #FFFFE0;
        transform: rotate(-45deg);
    }
}

.produit-card {
    position: relative;
    width: 250px;
    height: 300px;
    background-color: lightgray;
    margin: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 9px;
}

.produit-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fa-heart {
    color: #fff;
}

.fa-heart:hover {
    color: #FF6347;
    cursor: pointer;
}

.active {
    color: #FF6347;
}

.produit-card .favori {
    position: absolute;
    top: 10px;
    right: 10px;
}

.info-produit {
    text-align: center;
}

.produits {
    text-align: center;
}

.produits h2 {
    position: relative;
}

.affaires {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
}

.affaires2 {
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
    display: none;
    margin-top: 1.5em;
}

.panier {
    position: relative;
    text-align: center;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 20px;
    background-color: #001F3F;
    position: fixed;
    left: 0;
    width: 80px;
    align-items: center;
}

.navigation i {
    color: #FFF;
    font-size: 24px;
    transition: color 0.3s ease;
}

.navigation i:hover {
    color: #FFDB58;
    transform: scale(1.1);
}

#viderPanier {
    margin-top: 1em;
    font-size: 22px;
    border-radius: 25px;
    background-color: #fff;
    border: 2px solid #f61a1a;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

#viderPanier.visible {
    display: block;
    margin-bottom: 2.5em;
}

#viderPanier:hover {
    background-color: #f61a1a;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.deals,
.boutique {
    width: 100%;
    margin-bottom: 20px;
    background-color: #FFDB58;
}

.star {
    background-color: #FFDB58;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.produit-star {
    display: flex;
    gap: 15px;
}

.plus,
.moins {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    font-size: 1.2em;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.plus:hover,
.moins:hover {
    transform: scale(1.1);
}

.plus i,
.moins i {
    color: #001F3F;
    transition: color 0.1s ease;
}

.voir {
    cursor: pointer;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1.5em;
}

.voir:hover {
    text-decoration: underline;
}

.card {
    background-color: #FFFFE0;
    border-radius: 9px;
    padding: 1.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card-vedette {
    background-color: #FFFFE0;
    border-radius: 9px;
    padding: 2em;
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.info-produit h2,
img {
    cursor: pointer;
}

.ajouter-panier {
    background-color: #001F3F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.ajouter-panier:hover {
    background-color: #FFDB58;
    color: #001F3F;
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.notification {
    background-color: #001F3F;
    color: #FFFFE0;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    max-width: auto;
    word-wrap: break-word;
}

.notification.show {
    opacity: 1;
    transform: translateY(0);
}

.notification-badge {
    position: relative;
    top: -35px;
    right: -18px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.home,
.fav,
.team,
.cout {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    text-decoration: none;
    color: #FFFFE0;
    text-align: center;
}

footer {
    display: flex;
    margin-left: 50px;
}

footer div {
    width: 49%;
}

.equipe {
    width: 100%;
    text-decoration: none;
    color: #001F3F;
    margin-left: 40px;
    text-decoration: underline;
    text-decoration-color: #FFDB58;
}

.equipe:hover {
    text-decoration: underline;
}

.copyright {
    width: 100%;
    text-align: right;
}

@media only screen and (max-width: 480px) {
    body {
        min-height: 247em;
    }

    .carousel {
        position: relative;
        width: 100%;
        padding-top: 99.25%;
        background-color: lightgray;
        margin-bottom: 20px;
    }

    .carousel video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container {
        margin-left: 0;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 20px;
        background-color: #001F3F;
        position: fixed;
        bottom: 0;
        height: auto;
        flex-direction: row;
    }

    .produit-star {
        display: block;
    }
}


@media only screen and (max-width: 900px) {
    body {
        min-height: 188em;
    }

    .carousel {
        position: relative;
        width: 100%;
        padding-top: 99.25%;
        background-color: lightgray;
        margin-bottom: 20px;
    }

    .carousel video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container {
        margin-left: 0;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 20px;
        background-color: #001F3F;
        position: fixed;
        bottom: 0;
        height: auto;
        flex-direction: row;
    }

    #viderPanier {
        margin-bottom: 3em;
    }

    footer {
        margin-left: 5px;
        display: flex;
        width: 100%;
        gap: 14em
    }

    .equipe {
        text-align: left;
        margin-left: 5px;
    }
}